body.styling {
  background-color: #670627;
  font-family: Helvetica, Arial, sans-serif;
  color: #E6D1D0;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

/* HEADER  */
.navbar {
    display: flex;
    justify-content: space-between; /* Empuja las dos listas a los extremos */
    align-items: center;
    background-color: #531121;
    border-bottom: 1px solid #E6D1D0; /* La línea horizontal larga */
    font-family: 'League Spartan', sans-serif;
}

/* Estilo general para ambas listas */
ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.nav-main li a, .nav-lang li {
    color: #E6D1D0;
    text-decoration: none;
    font-size: 14px;
    padding: 20px;
    display: block;
}

/* La línea vertical separadora */
.nav-lang {
    border-left: 1px solid #E6D1D0; /* Esta es la línea de tu captura */
}

/* Ajuste para el separador interno del EN | ES */
.nav-lang .separator {
    padding-left: 0;
    padding-right: 0;
    opacity: 0.5;
}

.nav-lang li a {
    padding: 20px 10px; /* Menos espacio entre EN y ES */
    text-decoration: none;
    color: inherit;
}

header .line {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: var(--nav-color);
  opacity: 0.5;
}

/* GRID STYLING */
.styling-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 5px;
  justify-content: center;
  max-width: 1600px;
  box-sizing: border-box;
  margin-top: 15px;
}

.styling-item {
  text-align: left;
}

.styling-image {
  width: 100%;
  position: relative;
  overflow: hidden;
}

.styling-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  transition: transform 0.3s ease;
}

.styling-image:hover img {
  transform: scale(1.05);
}

/* OVERLAY SOBRE IMAGEN */
.styling-image .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  color: #E6D1D0;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.3s ease;
  text-align: center;
  padding: 10px;
}

.styling-image:hover .overlay {
  opacity: 1;
}

/* TEXTO DE LA OVERLAY */
.styling-image .overlay p {
  font-family: 'League Spartan', sans-serif;
  font-weight: 400;
  font-size: 18px;
  margin: 0;
  letter-spacing: 1px;
}

.styling-image .overlay strong,
.styling-image .overlay b {
  font-weight: 700;
}



/* RESPONSIVE */

/* Mobile */
@media (max-width: 700px) {
  header nav a {
    white-space: nowrap;
    font-size: 12px; 
  }

  .styling-grid {
    grid-template-columns: 1fr;
    gap: 10px;
    padding: 0 0px;
    margin-top: 10px;
  }

  .styling-image img {
    width: 100%;
    height: auto;
    aspect-ratio: 4/3;
  }

  .styling-image .overlay {
    font-size: 14px;
    padding: 10px;
  }
}